In [2]:
import pandas as pd


imdb = pd.read_csv("movies_imdb.csv")

#
ext = pd.read_csv("movies.csv")

print("--- imdb.shape ---")
print(imdb.shape)
display(imdb.head())

print("\n--- ext.shape ---")
print(ext.shape)
display(ext.head())



ext = ext.rename(columns={
    "name": "title"
})


ext_small = ext[["title", "year", "budget", "gross", "votes"]]

print(ext_small.shape)
display(ext_small.head())


combined = imdb.merge(
    ext_small,
    on=["title", "year"],  
    how="left"              
)

print("combined shape:", combined.shape)
display(combined.head())


print("\nBudget dolu satır sayısı:", combined["budget"].notna().sum())
print("Gross dolu satır sayısı:", combined["gross"].notna().sum())


output_path = "movies_with_revenue.csv"
combined.to_csv(output_path, index=False)

--- imdb.shape ---
(5645, 7)

,id,title,year,runtime,genres,rating,numVotes
0,tt0035423,Kate & Leopold,2001.0,118.0,"Comedy,Fantasy,Romance",6.4,92878
1,tt0069049,The Other Side of the Wind,2018.0,122.0,Drama,6.7,8409
2,tt0082328,Embodiment of Evil,2008.0,94.0,Horror,5.9,1901
3,tt0093119,Grizzly II: Revenge,2020.0,74.0,"Horror,Music,Thriller",2.7,2202
4,tt0101616,Coolie No. 1,1995.0,143.0,"Action,Comedy,Romance",6.6,6164

--- ext.shape ---
(7668, 15)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

(7668, 5)

,title,year,budget,gross,votes
0,The Shining,1980,19000000.0,46998772.0,927000.0
1,The Blue Lagoon,1980,4500000.0,58853106.0,65000.0
2,Star Wars: Episode V - The Empire Strikes Back,1980,18000000.0,538375067.0,1200000.0
3,Airplane!,1980,3500000.0,83453539.0,221000.0
4,Caddyshack,1980,6000000.0,39846344.0,108000.0

combined shape: (5645, 10)

,id,title,year,runtime,genres,rating,numVotes,budget,gross,votes
0,tt0035423,Kate & Leopold,2001.0,118.0,"Comedy,Fantasy,Romance",6.4,92878,48000000.0,76019048.0,80000.0
1,tt0069049,The Other Side of the Wind,2018.0,122.0,Drama,6.7,8409,NaN,NaN,NaN
2,tt0082328,Embodiment of Evil,2008.0,94.0,Horror,5.9,1901,NaN,NaN,NaN
3,tt0093119,Grizzly II: Revenge,2020.0,74.0,"Horror,Music,Thriller",2.7,2202,NaN,NaN,NaN
4,tt0101616,Coolie No. 1,1995.0,143.0,"Action,Comedy,Romance",6.6,6164,NaN,NaN,NaN

Budget dolu satır sayısı: 1663
Gross dolu satır sayısı: 2062